<a href="https://colab.research.google.com/github/JUNSEOLEE22/-----0107/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("3개의 정수값을 입력하시오")
n1 = int(input("n1의 정수값을 입력: ")) 
n2 = int(input("n1의 정수값을 입력: ")) 
n3 = int(input("n1의 정수값을 입력: ")) 
total = n1 + n2 + n3;
average = total /3 ;
print(average)

3개의 정수값을 입력하시오
n1의 정수값을 입력: 5
n1의 정수값을 입력: 8
n1의 정수값을 입력: 2
5.0

In [3]:
import math  
 
print("'a, b, c' 3개의 값을 입력하시오")
a = int(input("Enter the a: ")) 
b = int(input("Enter the b: ")) 
c = int(input("Enter the c: "))  
d = math.sqrt(b*b) - (4*a*c);
 
x1 = (-b+d) / (2 * a);
x2 = (-b-d) / (2 * a);
print(x1, x2)

'a, b, c' 3개의 값을 입력하시오
Enter the a: 8
Enter the b: 50
Enter the c: 200
-400.0 393.75

In [8]:
import math
# 근의공식 구하기
a = int(input("a의 값을 입력하세요: "))
b = int(input("b의 값을 입력하세요: "))
c = int(input("c의 값을 입력하세요: "))
x1 = ( (-b + (math.sqrt(b**2) - 4 * a * c))/2 * a)
x2 = ( (-b - (math.sqrt(b**2) - 4 * a * c))/2 * a)
print("x1 = " , x1)
print("x2 = " , x2)

a의 값을 입력하세요: 49
b의 값을 입력하세요: 64
c의 값을 입력하세요: 100
x1 =  -480200.0
x2 =  477064.0

In [11]:
total = 0 
counter = 1 
while counter <= 10:
 grade=int(input ("Enter grade: "))
 total = grade + total 
 counter = counter + 1
average = total / 10
print(average)

Enter grade: 28
Enter grade: 23
Enter grade: 19
Enter grade: 47
Enter grade: 20
Enter grade: 15
Enter grade: 80
Enter grade: 40
Enter grade: 53
Enter grade: 59
38.4

In [14]:
total = 0
counter = 1
while counter <= 10:
 grade = int(input ("Enter grade: "))
 total = grade + total
 counter = counter + 1
average = total / 10
print(average)

Enter grade: 40
Enter grade: 340
Enter grade: 50
Enter grade: 20
Enter grade: 28
Enter grade: 35
Enter grade: 38
Enter grade: 29
Enter grade: 69
Enter grade: 74
72.3

In [15]:
print("3개의 값을 입력하시오")
x = int(input("Enter the x: "))
y = int(input("Enter the y: "))
z = int(input("Enter the z: "))
x = x + 1
y = y + 1
z = z + 1
print("변경된 값 : ", x, y, z)

3개의 값을 입력하시오
Enter the x: 30
Enter the y: 40
Enter the z: 60
변경된 값 :  31 41 61

In [16]:
a = 10
b = 8750
c = a * b
print(c)

87500

In [17]:
pay_rate = 8750
hours_worked = int(input("일을 한 전체 시간입력하세요!: " ))
monthly_pay = hours_worked * pay_rate
print(monthly_pay)

일을 한 전체 시간입력하세요!: 140
1225000

In [18]:
won = 100000
usd = won * 1130
print(usd)

113000000

In [19]:
exchange_rate = int(input("현재 환율입력: "))
won = 100000
usd = won * exchange_rate
print(usd)

현재 환율입력: 1200
120000000

In [20]:
fahrenheit = 100
celsius = fahrenheit-32
celsius = celsius * 5
celsius = celsius/9
print(celsius)

37.77777777777778

In [1]:
x = 0
y = 0
x = int(input("정수 x를 입력하시오: "))
y = int(input("정수 y를 입력하시오: "))
sum = x + y
print(sum)

정수 x를 입력하시오: 10
정수 y를 입력하시오: 50
60

In [2]:
price = int(input("상품의 가격을 입력하시오: "))
vat = price * 0.1
print(vat)

상품의 가격을 입력하시오: 20000
2000.0

In [3]:
age = int(input("현재 나이를 입력하시오.: "))
age = age + 10
print("10년후면", age, " 세가 되시는 군요")

현재 나이를 입력하시오.: 23
10년후면 33  세가 되시는 군요

In [7]:
print("########################")
print("# 배송료 계산 프로그램 #")
print("########################")
price= int(input("상품의 가격을 입력하세요: "))
if price > 2000:
 shipping_cost = 0
else:
 shipping_cost = 3000
print(shipping_cost)

########################
# 배송료 계산 프로그램 #
########################
상품의 가격을 입력하세요: 60000
0

In [8]:
print("########################")
print("# 합격 불합격 프로그램 #")
print("########################")
grade = int(input("성적을 입력하시오.: "))
if grade >= 60 :
 print("합격")
else :
 print("불합격")

########################
# 합격 불합격 프로그램 #
########################
성적을 입력하시오.: 90
합격

In [9]:
print("근무 시간을 입력하시오")
work_hour=int(input("근무시간 입력: "))
if work_hour > 72 :
 print("초과근무 하셨습니다.")
else:
 print("정상근무하셨습니다.")

근무 시간을 입력하시오
근무시간 입력: 140
초과근무 하셨습니다.

In [10]:
print("########################")
print("# 짝수와 홀수 판별 앱 #")
print("########################")
x = int(input("x값 정수를 입력하시오: "))
if (x % 2) != 0 :
 print("홀수입니다.")
else:
 print("짝수입니다.")

########################
# 짝수와 홀수 판별 앱 #
########################
x값 정수를 입력하시오: 57
홀수입니다.

In [11]:
print("정수를 입력하시오.")
x= int(input("정수값 x를 입력하시오.: "))
y= int(input("정수값 y를 입력하시오.: "))
if x > y :
 print(x)
else:
 print(y)

정수를 입력하시오.
정수값 x를 입력하시오.: 27
정수값 y를 입력하시오.: 50
50

In [12]:
print("########################")
print("# 이름, 나이, 답변 앱 #")
print("########################")
yu_name = str(input("이름: "))
yu_age = int(input("나이: "))
if yu_age <= 25 :
 print("와우!!! 프로그래밍을 완벽하게 배울수 있는 나이입니다.!")
else:
 print("포기하기에는 아직 늦지 않았습니다.")
print("\n")

########################
# 이름, 나이, 답변 앱 #
########################
이름: 이준서
나이: 23
와우!!! 프로그래밍을 완벽하게 배울수 있는 나이입니다.!

In [14]:
price = int(input("상품의 가격을 입력하세요.: "))
if price > 100000:
 shipping_cost = 0
else:
 if price > 2000: shipping_cost = 3000
 else: shipping_cost = 5000
 print("배송료는", shipping_cost, "입니다.")

상품의 가격을 입력하세요.: 150000